* {
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    background-color: #F3EDE1;
    color: #4B5D3B;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

h1 {
    font-size: 60px;
    padding: 30px;
}

#fetchProfilesButton {
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid #652323;
    border-radius: 50px;
    color: #652323;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 0 0;
    transition: all 200ms;
}

#fetchProfilesButton:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 1px #652323;
}

#fetchProfilesButton:active {
        transform: translateY(10px);
        box-shadow: 0 0 0;
}

#profileCardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.profileCard {
    border: 1px solid #4B5D3B;
    border-radius: 18px;
    padding: 1rem;
    width: 300px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profileCard h2 {
    font-size: 25px;
}

.profileText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    opacity: 90%;
}

.emailButton {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #652323;
    border-radius: 50px;
    color: #652323;
    font-size: 12px;
    text-decoration: none;
}

.emailButton:hover {
    background-color: #652323;
    color: #F3EDE1;
}

